/* Home.module.css */
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 100px; /* Ensure content doesn't overlap with the header */
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px; /* Add some gap between the components */
}

.row {
  display: flex;
  width: 100%;
  justify-content: center; /* Center the content */
  gap: 20px; /* Space between the Profile and Carousel */
}

.carousel {
  flex: 1;
  max-width: 70%; /* Adjusted to a landscape width */
}

.profile {
  flex: 1;
  max-width: 30%; /* Adjusted to a landscape width */
}

.blogCards {
  width: 100%;
}

.footer {
  display: flex;
  width: 100%;
  justify-content: center; /* Center the content */
  gap: 10px; /* Space between the Profile and Carousel */
}
