@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

.profile {
  position: relative;
  width: 35%;
  height: auto;
  overflow: hidden;
  margin: 20px 20px 0 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-color: #1f1f1f; /* Dark theme background */
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.profileInner {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  color: #ffffff; /* Light text color */
  font-family: "Roboto", sans-serif;
}

.profileHeader {
  width: 100%;
  height: 40%;
  background-color: #333; /* Darker background */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px 15px 0 0;
  transition: background-color 0.3s ease;
}

.profileHeader:hover {
  background-color: #444;
}

.profileImage {
  width: 100px; /* Increased size */
  height: 100px;
  border-radius: 50%;
  border: 3px solid #007bff;
  transition: transform 0.3s ease, border-color 0.3s ease;
}

.profileImage:hover {
  transform: rotate(360deg);
  border-color: #ff4081;
}

.profileContent {
  padding: 20px;
}

.subTitle {
  color: #bbbbbb;
  margin-bottom: 20px;
  font-weight: 500;
}

.stats {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statNumber {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ff4081;
}

.statLabel {
  color: #bbbbbb;
}

.followButton {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s, transform 0.3s ease;
}

.followButton:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

.description {
  color: #bbbbbb;
}

.socialLinks {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.socialLinks a {
  color: #007bff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
}

.socialLinks a:hover {
  color: #ff4081;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #007bff;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  transition: background-color 0.3s ease;
}

.socialLinks a:hover .dot {
  background-color: #ff4081;
}
